
body {
  font-size: 20px;
  background-color: #212529;
  font-family: 'Lora', 'Times New Roman', serif;
}

p {
  line-height: 1.5;
  margin: 30px 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}

p a {
  text-decoration: underline;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

li {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.left {
  z-index: 1001;
  position: fixed;
  left: 0;
  top: calc(50% - (275px / 2));
  width: 55px;
  height: 275px;
  padding-left: 20px
}

.big {
  font-size: 85px;
}

.medium {
  font-size: 40px;
}

.nav-link {
  color: #ffffff;
}


.middle-container {
    position: relative;
    padding: 100px;
}

.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  text-align: center;
  padding: 400px;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
